In [48]:
import seaborn as sns
import numpy as np
import pandas as pd

In [76]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [51]:
iris.species = pd.Categorical(iris.species)

In [52]:
X = iris.loc[:, 'species' != iris.columns]
y = iris.species

In [54]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [55]:
X = X.values
y = y.values

In [65]:
n = X.shape[0] # 150
inds = np.arange(n) # 0, 1, ..., 149
inds = np.random.choice(inds, n, replace=False)

In [66]:
i_train = inds[0:n * 3 // 4]
i_test  = inds[n * 3 // 4:n]

In [72]:
X_train = X[i_train]
X_test = X[i_test]
y_train = y[i_train]
y_test = y[i_test]

In [73]:
from scipy.stats import mode

In [74]:
y_pred = np.zeros(X_test.shape[0], dtype=np.object)
for te_i in range(X_test.shape[0]):
    dists = np.zeros(X_train.shape[0])
    for tr_i in range(X_train.shape[0]):
        dists[tr_i] = np.sqrt(((X_test[te_i, :] - X_train[tr_i, :])**2).sum())
    qq = mode(y_train[dists.argpartition(3)[:3]])
    y_pred[te_i] = qq[0][0]

/usr/lib/python3.6/site-packages/scipy/stats/stats.py:245: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  "values. nan values will be ignored.", RuntimeWarning)

In [75]:
np.mean(y_pred == y_test)

0.96